.contactContainer {
  padding-left: 2rem;
  padding-right: 2rem;

  .l_contact {
    border-radius: 10px;
    border-left-width: 1px;
    border-right-width: 1px;
    position: relative;
    outline: 0;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    padding: 2rem 1.5rem;
    background-color: #fff;
    border: 1px solid rgba(51, 51, 51, 0.3);

    &__input {
      margin-bottom: 2rem;
    }

    &__button {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
