.l_footer {
  border-top: 1px solid #eee;
  overflow: hidden;

  &__content {
    text-align: center;
    background-color: #111;
    color: #ccc;
    font-size: .875rem;
    line-height: calc(.98438 + 0.4 * 2);
    padding-bottom: 0.9rem;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0.9rem;

    &__copyright {
      width: min(100%, 1280px);
      padding-left: calc(1.8rem);
    padding-right: calc(1.8rem);
    }
  }
}
