.l_footer {
  border-top: 1px solid #eee;
  overflow: hidden;
  position: relative;

  &__contents {
    text-align: center;
    background-color: #111;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: #ccc;
    font-size: 1rem;
    line-height: calc(0.98438 + 0.4 * 2);
    padding-bottom: 0.5rem;
    margin: 0 auto;
    padding-left: calc(1.8rem);
    padding-right: calc(1.8rem);
    padding-top: 0.5rem;

    &__content {
      margin-right: 15px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;

      &:last-child {
        margin-right: 0;
      }

      & + p {
        cursor: pointer;
      }
    }
  }
}
