.productContainer {
  .l_card {
    margin: auto;
    margin-bottom: 30px;
    max-width: 960px;
    flex-grow: 1;
    background-color: #fff;

    &__grid {
      margin: 0 auto;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &__leftContent {
      padding: 0;

      @media screen and (max-width: 960px) {
        margin-bottom: 20px;
      }

      &__imageBox {
        margin: 0 auto;
        display: flex;
        display: -webkit-box;
        display: -ms-flexbox;
        position: relative;
      }

      &__image {
        margin: auto;
        display: block;
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
      }

      &__categoryBox {
        background-color: #cd162c;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 10;
        &:hover {
          opacity: 0.9;
        }
      }

      &__categoryText {
        margin: 0;
        padding: 5px 10px;
        color: white;
      }
    }

    &__rightContent {
      &__box {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        display: -webkit-box;
        display: -ms-flexbox;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
      }

      &__titleBox {
        display: flex;
        flex-wrap: wrap;
        display: -webkit-box;
        display: -ms-flexbox;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        margin-bottom: 0.5em;

        &__child {
          margin-right: 10px;

          &:first-child {
            margin-right: auto;
          }

          &:last-child {
            margin-right: 0;
          }
        }
      }

      &__title {
        font-weight: bold;
        margin-bottom: 0;
      }

      &__tagBox {
        display: flex;
        flex-wrap: wrap;
        display: -webkit-box;
        display: -ms-flexbox;
        -ms-flex-wrap: wrap;
      }

      &__tagName {
        cursor: pointer;
        margin: 0 8px 8px 0;
        background-color: #f7f7f7;
        border: 1px solid transparent;
        border-color: #eee;
        border-radius: 6px;
        display: inline-block;
        line-height: 1;
        padding: 4px 8px;
        text-decoration: none;
        vertical-align: top;
        white-space: nowrap;
        transition: all 0.3s;

        &::before {
          color: #cd162c;
          content: '#';
          font-weight: bold;
          margin-right: 3px;
        }

        &:hover {
          transition: all 0.3s;
          background-color: #eee;
        }
      }

      &__aboutTag {
        margin: 4px 8px 0 0;
      }

      &__description {
        line-height: 1.75;
        margin-bottom: 20px;
      }

      &__next {
        margin-top: auto;
        text-align: right;
      }
    }
  }

  @media screen and (max-width: 768px) {
    .l_card {
      margin: 0 15px 30px;
    }
  }
}
